.nav-brand {
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu-spacer {
  flex: 1 1 auto;
}
